.wrong-answer-actions,
.right-answer-actions {
    float: right;
    display: flex;
}

.wrong-answer-actions button,
.right-answer-actions button {
    height: 34px;
    margin-left: 5px;
    margin-right: 5px;
}

.wrong-answer-actions .badge {
    background-color: gray;
    margin-right: 5px;
}

.right-answer-check {
    color: green;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: 5px;
}